@import '@/styles/principals/_colors.scss';

.stats {
  margin: 20px 40px 40px;
  border-radius: 5px;
  border: 2px solid $color-secondary-80;
  padding-bottom: 10px;
  color: $color-neutral-00;
  position: relative;

  &__subtitle {
    background-color: $color-secondary-100;
    padding: 10px;
    border-bottom: 1px solid $color-secondary-80;
    text-align: center;

    p {
      font-weight: 700;
      color: $color-neutral-00;
    }
  }

  &__trends {
    margin-top: 25px;
    display: flex;
    justify-content: center;
  }
}
