@import '@/styles/principals/_colors.scss';

.my-bets-profile {
  h1 {
    padding-bottom: 40px;
  }

  h2 {
    padding-bottom: 20px;
  }

  &__bets {
    margin: 20px 40px 0;
    border-radius: 5px;
    border: 2px solid $color-secondary-80;
    color: $color-neutral-00;

    &--box {
      display: grid;
      grid-template-columns: repeat(
        auto-fit,
        minmax(240px, 1fr)
      );
      gap: 20px;
      margin-bottom: 20px;
    }

    &--no-bets {
      text-align: center;
      padding-bottom: 15px;
    }

    &--first {
      margin-bottom: 50px;
    }
  }
}
