$color-primary-60: #6188ff;
$color-primary-80: #476cf8;
$color-primary-100: #3860fb;

$color-secondary-80: rgb(34, 37, 49);
$color-secondary-100: #17171a;

$color-neutral-00: #fff;
$color-neutral-50: #eff2f5;
$color-neutral-150: #000;