@import '@/styles/principals/_colors.scss';

.types {
  border: 2px solid $color-secondary-80;
  width: 490px;
  margin: 20px auto;
  display: block;
  padding: 16px 40px;
  display: flex;
  align-items: baseline;

  &--months {
    padding-bottom: 11px;
  }

  &__container {
    width: 456px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-evenly;

    &--months {
      justify-content: flex-start;
    }

    &__label {
      text-align: center;
      margin: 0 15px;
      font-size: 14px;
      cursor: pointer;

      &--months {
        width: 75px;
        text-align: left;
        padding-bottom: 5px;
      }

      &:hover {
        color: #476cf8;
      }
    }
  }

  &--active {
    color: $color-primary-100 !important;
  }

  @media screen and (max-width: 1024px) {
    width: auto;
    padding: 16px 19px 8px;
    margin: 20px;

    &__container {
      width: auto;
      &__label {
        width: 70px;
        margin: 0 10px 8px;
      }
    }
  }

  @media screen and (max-width: 450px) {
    &__container__label {
      text-align: left;
    }
  }
}
