@import '@/styles/principals/_colors.scss';

.card-my-bet {
  border-radius: 5px;
  padding: 10px 20px 20px;
  width: 190px;
  margin: 15px;
  background-color: rgb(23, 23, 26) !important;
  background: linear-gradient(rgb(34, 37, 49) 0%, rgba(34, 37, 49, 0) 200px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  color: $color-neutral-00;

  &__close-container {
    text-align: right;

    svg {
      cursor: pointer;
      color: $color-loss;
      margin-right: -10px;
    }
  }

  &__image-box {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }

  &__btn-box {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }

  &--win {
    border: 2px solid $color-win;
  }

  &--void {
    border: 2px solid $color-void;
  }

  &--loss {
    border: 2px solid $color-loss;
  }

  &:hover {
    box-shadow: 8px 8px 16px 0 rgba(255, 255, 255, 0.2);
  }

  > p {
    padding-bottom: 8px;
  }
}
