.btn {
  padding: 10px 15px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  border: 0px;
  margin: 10px;
  width: 200px;
  color: #fff;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &--primary {
    background-color: $color-primary-100;
    color: $color-neutral-00;

    &:hover {
      background-color: $color-primary-80;
    }
  }
}