@import '@/styles/principals/_colors.scss';

.clients {

  h1 {
    padding-bottom: 40px;
  }

  h2 {
    padding-bottom: 20px;
  }
  
  &__content {
    margin: 20px 40px 40px;
    padding-bottom: 40px;
    border-radius: 5px;
    border: 2px solid $color-secondary-80;
    color: $color-neutral-00;

    &--first {
      margin-bottom: 50px;
    }

    &--no-pays {
      text-align: center;
      font-weight: 500;
    }

    &--data {
      display: flex;
      justify-content: space-evenly;
    }

    &--charts {
      width: 500px;
      margin: 0 auto;
    }

    &--chart {
      padding-top: 70px;

      p {
        text-align: center;
        font-weight: 600;
        padding-bottom: 16px;
      }
    }
  }

}
