@import '@/styles/principals/_colors.scss';

.my-bets {

  h1 {
    padding-bottom: 40px;
  }

  h2 {
    padding-bottom: 20px;
  }
  
  &__payments {
    
    margin: 20px 40px 0;
    border-radius: 5px;
    border: 2px solid $color-secondary-80;
    color: $color-neutral-00;

    &--first {
      margin-bottom: 50px;
    }

    &--last {
      margin-bottom: 40px;
    }

    &__tables-container {
      display: flex;
      justify-content: space-evenly;
    }

    &__table-box {
      max-width: 400px;
      margin: 0 auto;
      
      h4 {
        text-align: center;
        color: $color-primary-100;
      }
    }
  }

}