@import '@/styles/principals/_colors.scss';

.value-detail-modal {
  padding: 10px;

  h4 {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 20px;
    border-bottom: 1px solid $color-secondary-60;
    margin-bottom: 20px;
    margin-top: 0;
    color: $color-primary-100;
  }

  p {
    color: $color-primary-80;
    padding-bottom: 16px;
    font-size: 16px;
    font-weight: 500;

    span {
      color: $color-secondary-60;
    }
  }

  label {
    font-weight: 400;
    font-size: 15px;
  }

  input,
  select {
    padding: 5px;
    margin: 5px 0;
    font-size: 15px;
    background-color: $color-neutral-00;
    border: 1px solid $color-secondary-60;
    color: $color-secondary-60;
    border-radius: 3px;
  }

  &--value {
    display: flex;
    align-items: flex-start;
    span {
      padding-left: 5px;
      padding-right: 5px;
    }

    button {
      cursor: pointer;
      background-color: transparent;
      border: none;
    }
  }

  &__form-error {
    font-size: 12px;
    padding-bottom: 20px;
    color: $color-loss;
  }

  &__form-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }

  &__btn-box {
    display: flex;
    justify-content: center;
  }
}
