@import "@/styles/principals/_colors.scss";
@import "@/styles/components/_button.scss";

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-krub);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(23, 23, 26) !important;
  background: linear-gradient(rgb(34, 37, 49) 0%, rgba(34, 37, 49, 0) 460px);
}

h1 {
  text-align: center;
  margin: 0;
  padding-top: 25px;
  color:#fff;
  font-size: 26px;
}

h2 {
  text-align: center;
  font-weight: 600;
  margin: 0;
  color: $color-primary-100;
}

p {
  margin: 0;
}

a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #476cf8
}