@import '@/styles/principals/_colors.scss';
@import '@/styles/components/_button.scss';

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-krub);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(23, 23, 26) !important;
  background: linear-gradient(rgb(34, 37, 49) 0%, rgba(34, 37, 49, 0) 460px);
}

.main {
  background-color: rgb(23, 23, 26) !important;
  background: linear-gradient(rgb(34, 37, 49) 0%, rgba(34, 37, 49, 0) 460px);
  padding-bottom: 1px;
}

h1 {
  text-align: center;
  margin: 0;
  padding-top: 25px;
  color: $color-neutral-00;
  font-size: 26px;
}

h2 {
  text-align: center;
  font-weight: 600;
  margin: 0;
  color: $color-primary-100;
}

p {
  margin: 0;
}

a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: $color-primary-80;
}

.date-input {
  padding: 5px;
  font-size: 15px;
  background-color: $color-neutral-00;
  border: 1px solid $color-secondary-80;
  color: $color-secondary-80;
  border-radius: 3px;
  margin-left: 10px;
  text-align: center;
  width: 75px;
  cursor: pointer;
}

.react-datepicker__month-text {
  text-transform: capitalize;
}

.status-green {
  background-color: $color-win;
}

.status-orange {
  background-color: $color-void;
}

.status-red {
  background-color: $color-loss;
}

.text-win {
  color: $color-win;
}

.text-void {
  color: $color-void;
}

.text-loss {
  color: $color-loss;
}

.react-icons {
  vertical-align: middle;
}

.card-link {
  width: 75px;
  cursor: pointer;
  background-color: $color-secondary-60;
  padding: 5px 10px;
  border: 1px solid $color-secondary-60;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;

  &:hover {
    background-color: $color-primary-80;
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.pointer {
  cursor: pointer;
}