@import '@/styles/principals/_colors.scss';

.monthly-planner {
  width: 988px;
  text-align: center;
  margin: 20px auto;
  padding: 20px;

  &__days-container {
    display: flex;
    border-right: 1px solid $color-secondary-80;
    border-top: 1px solid $color-secondary-80;
    border-bottom: 1px solid $color-secondary-80;
    background-color: $color-secondary-100;
    font-weight: bold;
    color: $color-neutral-00;

    &--day {
      width: 120px;
      padding: 5px 10px;
      border-left: 1px solid $color-secondary-80;
    }
  }

  &__days {
    display: flex;
    flex-wrap: wrap;

    &__day {
      width: 120px;
      padding: 0 10px;
      border-left: 1px solid $color-secondary-80;
      border-bottom: 1px solid $color-secondary-80;
      min-height: 120px;

      &--date {
        color: $color-neutral-00;
        text-align: right;
        margin: 5px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;

        > span {
          font-size: 10px;
          color: $color-neutral-00;
          text-align: left;
        }
      }

      &--no-bets {
        display: block !important;
      }

      &--profit {
        font-weight: 600;
        font-size: 14px;
        margin: 10px 5px 18px;
      }

      &--no-data {
        margin-top: 22px!important;
        font-weight: 600;
      }
    }
  }
}
